<form ng-submit="register.onSubmit()" ng-controller="RegisterController as register">
  <div class="registration-input-box">
    <!--<label for="name">Full name</label>-->
    <input type="text"id="name" placeholder="Full name" ng-model="register.credentials.name">
  </div>
  <div class="registration-input-box">
    <!--<label for="email">Email address</label>-->
    <input type="email" id="email" placeholder="Email" ng-model="register.credentials.email">
  </div>
  <div class="registration-input-box">
    <!--<label for="password">Password</label>-->
    <input type="password" id="password" placeholder="Password" ng-model="register.credentials.password">
  </div>
  <button type="submit" class="registration-submit-button">Sign up for free</button>
</form>