.home-body {
  background: #f1f5f6;
  height: calc(90vh - 45px);
  padding: 10vh 0 0 0;
}

.home-title-section {
  background: #ffffff;
  color: #333333;
  font-size: 48px;
  font-weight: bold;
  height: 50vh;
  margin: 0 auto;
  padding: 10vh 0;
  text-align: center;
  width: 75%;
}

.home-title-section h1 {
  text-align: center;
}

.log-in-btn, .sign-up-btn {
  background: #2c2c2c;
  color: #ffffff;
  float: right;
  font-size: 16px;
  font-weight: 700;
  padding: 16px;
  margin-top: 10vh;
  margin-right: 12.5%;
  text-align: center;
  text-decoration: none;
  transition: .4s background linear;
  width: 15%;

}

.sign-up-btn {
  margin-right: 7.5%;
}

.log-in-btn:hover, .sign-up-btn:hover {
  background: #363A3B;
}