.home-bg {
  background: #f9fbf0;
}

.home-container {
  background: #ffffff;
  color: #333333;
  font-weight: bold;
  height: calc(84vh - 40px);
  margin: 0 auto;
  padding: 20px 5%;
  text-align: center;
  width: 90%;

}


.log-in-btn, .sign-up-btn {
  background: #2c2c2c;
  color: #ffffff;
  float: right;
  font-size: 16px;
  font-weight: 700;
  padding: 16px;
  margin-top: 10vh;
  margin-right: 12.5%;
  text-align: center;
  text-decoration: none;
  transition: .4s background linear;
  width: 15%;

}

.sign-up-btn {
  margin-right: 7.5%;
}

.log-in-btn:hover, .sign-up-btn:hover {
  background: #363A3B;
}



/*Navigation Styling*/
.home-nav {
  width: 100%;
  height: 10vh;
  background: #fff;
  line-height: 10vh;
  font-family: 'Prompt', sans-serif;
  margin: 0 0 6vh 0;
}

.home-nav .home-nav-logo {
  font-size: 32px;
  font-weight: 700;
  display: inline-block;
  margin: 0 0 0 5%;
  color: #4e554f;
}

.home-nav .home-nav-logo:hover {
  text-decoration: none;
  color: #444;
}


.home-nav .home-sign-in {
  float: right;
  margin: 0 5% 0 0;
  color: #4e554f;
}
/*End Navigation Styling*/