.home-bg {
  background: #f9fbf0;
}

/*Navigation Styling*/
.home-nav {
  width: 100%;
  height: 10vh;
  background: #fff;
  line-height: 10vh;
  font-family: 'Prompt', sans-serif;
  margin: 0 0 6vh 0;
}

.home-nav .home-nav-logo {
  font-size: 32px;
  font-weight: 700;
  display: inline-block;
  margin: 0 0 0 5%;
  color: #4e554f;
}

.home-nav .home-nav-logo:hover {
  text-decoration: none;
  color: #444;
}

.home-nav .home-sign-in {
  float: right;
  margin: 0 5% 0 0;
  color: #4e554f;
}
/*End Navigation Styling*/



/*Main Container Styling*/
.home-container {
  background: #ffffff;
  color: #333333;
  font-weight: bold;
  height: calc(84vh - 40px);
  margin: 0 auto;
  padding: 20px 5%;
  width: 90%;
}

.home-sign-up-container {
  width: 46%;
  float: right;
  padding-left: 5%;
  text-align: left;
  color: #4e554f;
}

.home-sign-up-container h1 {
  font-size: 34px;
  margin-top: 40px;
}

.home-sign-up-container p {
  margin: 10px 0 40px 0;
  font-size: 14px;
  font-weight: 400;
}


/*END Main Container Styling*/


