body {
  background: #f9fbf0;
}


/*****************************
  Start vertical Book Styles
******************************/

.vert-book-container {
  background: #fffffe;
  float: left;
  font-family: 'Prompt', sans-serif;
  margin: 0 .5% 0 4.5%;
  padding: 0 0 1% 0;
  width: 68%;
}

.vert-book:nth-child(6n + 1) {
  margin-left: 4%;
}

.vert-book {
  background: #ececec;
  float: left;
  margin: 1% 1% 0 0;
  min-height: 200px;
  width: 14.5%;
}

.vert-book-img {
  border: 1px solid #555;
  max-height: 180px;
  min-height: 180px;
  width: 100%;
}

.vert-book-title {
  font-weight: 700;
  font-size: 13px;
  height: 26px;
  margin-left: 2%;
  margin-top: 6px;
  overflow: hidden;
}

.vert-book-author {
  font-size: 12px;
  margin-left: 2%;
  margin-top: 6px;
}

.vert-book-owner {
  font-size: 11px;
  height: 25px;
  margin-bottom: 6px;
  margin-left: 2%;
  margin-top: 6px;
}

.book-hover {
  background: rgba(0,0,0,.33);
  height: 180px;
  margin-top: -183px;
  margin-bottom: 9px;
  opacity: 0;
  position: relative;
  transition: opacity .6s cubic-bezier(0.35, 1.68, 1, 1);
  -webkit-transition-delay: .15s;
  transition-delay: .15s;
  width: 100%;
}

.vert-book-img:hover + .book-hover,
.book-hover:hover {
  opacity: 1;
}

.book-hover .fa-times-circle,
.book-hover .fa-bars {
  color: #fff;
  cursor: pointer;
  margin: 10px;
  opacity: 0;
  transition: opacity 1.5s cubic-bezier(0.35, 1.68, 1, 1);
  -webkit-transition-delay: .5s;
  transition-delay: .4s;
}

.book-hover .fa-times-circle {
  float: right;
  font-size: 25px;
}

.book-hover .fa-bars {
  float: left;
  font-size: 20px;
}


.book-hover:hover .fa-bars,
.book-hover:hover .fa-times-circle {
  opacity: 1;
}


/***************************
  End Vertical Book Styles
****************************/


.book-search-box {
  background: #f9fbf0;
  border: none;
  font-size: 12px;
  font-weight: 400;
  height: 36px;
  margin: 20px 0 15px 0;
  padding: 0 1%;
  width: 50%;
}

.book-search-submit {
  background: #f9fbf0;
  border: none;
  color: #4c554f;
  height: 20px;
  margin-left: -30px;
  padding: 5px;
}

input:-webkit-autofill {
  background-color: #f9fbf0;
}

.section-divider {
  height: 15px;
  width: 100%;
}

.top-section-spacer {
  float: left;
  height: 50px;
  width: 100%;
}




/**********************
  Monthly Books Styles
***********************/


.monthly-books-container,
.number-users-container,
.total-books-container {
  background: #fff;
  color: #4c554f;
  height: 254px;
  margin-top: 10px;
  width: 100%;
}

.monthly-books-header,
.number-users-header,
.total-books-header {
  font-size: 12px;
  padding-bottom: 20px;
  padding-top: 40px;
  text-align: center;
}

.monthly-books-container hr,
.number-users-container hr,
.total-books-container hr {
  margin-top: 0;
  width: 70%;
}

.monthly-books-number,
.number-users-number,
.total-books-number {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.monthly-books-subhead,
.number-users-subhead,
.total-books-subhead {
  font-size: 13px;
  padding-top: 5px;
  text-align: center;
}

.monthly-books-btn,
.number-users-btn,
.total-books-btn {
  color: #fff;
  background: #c5c5c5;
  font-size: 11px;
  margin: 20px auto 0 auto;
  padding: 15px 0;
  text-align: center;
  width: 80%;
}



/******************
  Sorting Options
*******************/

.sorting-container {
  color: #4c554f;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding: 0 10%;
  width: 100%;
}

.sort {
  cursor: pointer;
  float: left;
  margin-left: 10%;
}

h4.sort {
  cursor: text;
}

/**********************
  End Sorting Options
***********************/


/***************
  Registration
****************/

.registration-input-box {
  margin: 10px 0;
}


.registration-input-box input {
  font-weight: 400;
  padding: 8px 0 8px 1%;
  width: 90%;
}

.registration-submit-button {
  width: 90%;
  padding: 12px 0;
  background: #c5c5c5;
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: 400;
}

/******************
  End Registration
*******************/

