body {
  background: #f9fbf0;
}


.vert-book-container {
  background: #fffffe;
  width: 68%;
  font-family: 'Prompt', sans-serif;
  margin: 0% 4.5%;
  padding: 1% 0;
  float: left;
}

.vert-book:nth-child(6n + 2) {
  margin-left: 4%;
}

.vert-book {
  width: 14.5%;
  min-height: 200px;
  background: #ececec;
  margin: 1% 1% 0 0;
  float: left;
}

.vert-book-img {
  width: 100%;
  min-height: 180px;
  max-height: 180px;
  border: 1px solid #555;
}

.vert-book-title {
  font-weight: 700;
  font-size: 13px;
  margin-left: 2%;
  margin-top: 6px;
  height: 26px;
  overflow: hidden;
}

.vert-book-author {
  font-size: 12px;
  margin-left: 2%;
  margin-top: 6px;
}

.vert-book-owner {
  margin-left: 2%;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 11px;
}



.book-search-box {
  background: #f9fbf0;
  border: none;
  width: 50%;
}

.book-search-submit {
  background: #f9fbf0;
  border: none;
  margin-left: -5px;
  padding: 5px;
}

input:-webkit-autofill {
  background-color: #f9fbf0;
}