.header {
  padding: 15px 0 30px 0;
  width: 100%;
  background: #f1f5f6;
  border-bottom: 2px solid #bbbbbb;
}

.header ul li {
  float: left;
  margin-left: 10px;
  border-bottom: 2px solid transparent;
  transition: border-bottom .3s linear;
}

.header ul li:hover {
  border-bottom: 2px solid #bbbbbb;
}

.header ul li a{
  color: #555555;
  text-decoration: none;
}

.nav-login {
  float: right;
  margin-right: 10px;
}
