.header {
  background: #f9fbf0;
  padding: 1px 0 30px 0;
  width: 100%;
}

.header ul {
  margin-bottom: 10px;
  padding-right: 4%;
}

.header ul li {
  float: right;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 16%;
}


.header ul li a{
  color: #4c554f;
  font-size: 12px;
  text-decoration: none;
}

.nav-login {
  float: right;
  margin-right: 10px;
}

.nav-logo {
  color: #4c554f;
  cursor: pointer;
  float: left;
  font-weight: 700;
  font-size: 16px;
  margin-left: 4%;
  margin-top: 12px;
}

.nav-logo:hover {
  color: #4c554f;
}


.currentPage {
  background: #fff;
}


/*******************
  Sidebar Styles
*******************/

.sidebar-container {
  float: left;
  height: auto;
  width: 23%;
}


.menu {
  background: linear-gradient(to bottom, #4e554f 0, #4e554f 25%, transparent 25%, transparent 37.5%, #4e554f 37.5%, #4e554f 62.5%, transparent 62.5%, transparent 75%, #4e554f 75%);
  cursor: pointer;
  float: right;
  height: 20px;
  margin-top: 8px;
  margin-bottom: 3px;
  width: 30px;
}

.dropdown-menu>li>a {
  color: #4c554f;
  font-size: 12px;
}

.dropdown-menu>li>a:hover {
  background: #f9fbf0;
}