<section class="sorting-container">

  <!-- Title sort drop down menu -->
  <div uib-dropdown>
    <p aria-hidden="true" type="button" uib-dropdown-toggle ng-disabled="disabled" title="Sort Books">
      Sort Title <i class="fa fa-caret-down" aria-hidden="true"></i>
    </p>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
      <li role="menuitem" ng-click="display.sortTitleAZ(true)"><a href="">Sort A - Z</a></li>
      <li role="menuitem" ng-click="display.sortTitleAZ(false)"><a href="">Sort Z - A</a></li>
    </ul>
  </div>

</section>
