
<div class="vert-book" ng-repeat="book in display.books" style="transition-delay: {{$index * 50}}ms">
  <img class="vert-book-img" ng-src="{{book.image}}" title={{book.title}} />

  <div class="book-hover">

    <!-- Creates a drop down menu -->
    <div uib-dropdown>

      <i class="fa fa-bars"
         aria-hidden="true"
         type="button"
         uib-dropdown-toggle
         ng-disabled="disabled"
         alt="Learn More"
         title="Learn More">
      </i>

      <ul class="dropdown-menu" uib-dropdown-menu role="menu">
        <li role="menuitem"><a ng-href="http://openlibrary.org/isbn/{{book.isbn}}" target="_blank">Book Details</a></li>

        <!-- Show these options when on the groups general profile. -->
        <li role="menuitem" ng-show="display.currentPage === '/allBooks'">
          <a href="#">Request Book</a>
        </li>
        <li role="menuitem" ng-show="display.currentPage === '/allBooks'">
          <a href="#">Write Owner</a>
        </li>

      </ul>

    </div>

    <i class="fa fa-times-circle"
       ng-click='display.deleteBook(book)'
       ng-show="display.currentPage === '/userBooks'"
       aria-hidden="true"
       alt="Delete"
       title="Delete"></i>

  </div>

  <p class="vert-book-title">{{book.title}}</p>
  <p class="vert-book-author">{{book.author}}</p>
  <p class="vert-book-owner">Owner: {{book.ownerName}}</p>

</div>
