<div class='modal-container'>

  <div class="modal-book" ng-repeat="book in modal.data">

    <a href="#" ng-click="$event.preventDefault(); modal.bookSelected(book)">

      <img class="modal-book-img"
           ng-src="{{'http://covers.openlibrary.org/b/isbn/' + book.isbn[0] + '-M.jpg?default=false'}}"
           onerror="this.onerror=null;this.src='../img/cover-404.jpg'"
           title={{book.title}} />
    </a>



      <p class="modal-book-title">{{book.title}}</p>
      <p class="modal-book-author">{{book.author_name[0]}}</p>
      <a class="modal-book-about" ng-href="http://openlibrary.org/isbn/{{book.isbn[0]}}" target="_blank">Book Details</a>

  </div>

</div>